<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>politica argentina: extended edition</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
   
    <div class="container">
        <h2>politica argentina: extended edition</h2>

        <div id="result">
    
            <img id="machine-img" src="img/back.jpg">

            <div id="start-text">
                vs.
            </div>

            <img id="user-img" src="img/back.jpg">

        </div>

        <div id="group-btn">
            <button id="bullrich" type="button">
                <img src="img/bullrich.png"/>bullrich
            </button>
            <button id="macri" type="button">
                <img src="img/macri.png"/>macri
            </button>
            <button id="cristina" type="button">
                <img src="img/cristina.png"/>cristina
            </button>
            <button id="milei" type="button">
                <img src="img/milei.png"/>milei
            </button>
            <button id="myriam" type="button">
                <img src="img/myriam.png"/>myriam
            </button>
        </div>
 </div>

    <script src="app.js"></script>
</body>
</html>